<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="
       http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
       http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.0.xsd">

	<!-- beans de spring -->
	<bean id="services.general" class="ar.edu.unq.desapp.grupoa.model.services.GeneralService">
		<property name="categoryService" ref="services.category" />
		<property name="categoryManagerService" ref="services.categoryManager" />
	</bean>

	<bean id="services.categoryManager" class="ar.edu.unq.desapp.grupoa.model.services.CategoryManagerService">
		<property name="repository" ref="persistence.categorymanagerrepository" />
	</bean>

	<bean id="services.category" class="ar.edu.unq.desapp.grupoa.model.services.CategoryService">
		<property name="repository" ref="persistence.categoryrepository" />
	</bean>


</beans>