<div ng-controller="CrearCategoriaYSubcategoriaCtrl">
    
    <h2><u>Create subcategoria</u></h2>
    	
    <div class="form-group">
        	<div class="input-group">
                <span class="input-group-addon">></span>
        		<input ng-model="objectCategory.subcategory" type="text" placeholder="Name" class="form-control" />
        	</div>
    	</div>
        
        <div class="form-group">
            <a href="#/crearOperacion" ng-Click="createSubcategory()"class="btn btn-lg btn-success">Aceptar</a>
            <a href="#/crearOperacion" class="btn btn-lg btn-danger">Cancelar</a>
        </div>
    </div>
</div>