<div ng-controller="OperacionCtrl">
   <h2><u>{{ 'CREAR_OPERACION' | translate}}</u></h2>
    <div class="row col-lg-16">
    <div class="col-lg-10">
    <form id="form" name="form" class="col-md-6 input" navalidate>

        
        <div class="form-group" required name="formm">
            <label class="btn  btn-toggle">
                <input type="checkbox" ng-model="objectOperationJson.operationType" /> {{ 'SELECCIONAR_PARA_INGRESO' | translate}}
            </label>
        </div>
        
        <div class="form-group">
            <table>
               <thead>
               </thead>
                <tbody>
                    <tr>
                        <td>
                            <select name="categoria" required ng-model="objectOperationJson.category"  ng-Click="getCategories()" draggable="true" ng-options="category.name as category.name for category in categories" class="form-control">
                                <option value="">{{ 'SELECCIONAR_CATEGORIA' | translate}}</option>
                            </select>
                        </td>
                        <td>
                            &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<a data-target="#modalCrearCategoria" data-toggle="modal"  class="btn btn-success"> {{ 'CREAR_CATEGORIA' | translate}} <span class="glyphicon glyphicon-ok"></span></a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="form-group">
            <table>
               <thead>
               </thead>
                <tbody>
                    <tr>
                        <td>
                            <select  name="subcategoria" required ng-model="objectOperationJson.subcategory" ng-Click="getSubcategories()" ng-disabled="disableSubcategory" draggable="true" ng-options="subcategory for subcategory in subcategories" class="form-control">
                                <option value="">{{ 'SELECCIONAR_SUBCATEGORIA' | translate}}</option>
                            </select>
                        </td>
                        <td>
                        &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<a data-target="#modalCrearSubcategoria" data-toggle="modal" ng-disabled="disableSubcategory" class="btn btn-success"> {{ 'CREAR_SUBCATEGORIA' | translate}} <span class="glyphicon glyphicon-ok"></span></a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        
        <div class="form-group">
            <div class="input-group">
                <span class="input-group-addon">></span>
                <input name="turno/shift" ng-model="objectOperationJson.shift" type="text" placeholder="{{ 'TURNO' | translate}}" class="form-control" required/>
            </div>
        </div>

        <div class="form-group">
           <div class="input-group">
                <span class="input-group-addon">$</span>
                <input name="monto/amount" id="monto" name="monto" type="number" class="form-control" ng-model="objectOperationJson.amount" placeholder="{{ 'MONTO' | translate}}" class="form-control" ng-required="true"/>
            </div>
        </div>
        
        <div class="form-group">
            <a ng-disabled="form.$invalid" type="submit" ng-Click="createOperation()" class="btn btn-primary">{{ 'ACEPTAR' | translate}}</a>
            <a href="#/verOperaciones" class="btn btn-danger">{{ 'CANCELAR' | translate}}</a>
        </div>
        
        
        
             </form>
        </div>
        <div class="col-lg-6">
            <div class="alert alert-danger" ng-show="form.$invalid">
          <div ng-repeat="(errorType, components) in form.$error">
            <h4>{{errorType}}</h4>
            <ul>
              <li ng-repeat="(key,value) in components">El campo {{value.$name}} tiene un valor invalido: {{value.$viewValue || '[vacio]'}}</li>
            </ul>
          </div>
        </div>    
        </div>

</div>

<!--*************************  Modals  ****************************************-->
<div ng-controller="CategoriaYSubcategoriaCtrl">
    
    <!--*************************  Modal de crear categoria  ****************************************-->
    <div class="modal fade" id="modalCrearCategoria" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content modal-content-one">
                <div class="modal-header">
                    <a class="close" data-dismiss="modal">&times;</a>
                    <h3>{{ 'CREAR_CATEGORIA' | translate}}</h3>
                </div>
                <div class="modal-body">
                    <input ng-model="objectCategory.name" type="text" placeholder="{{ 'NOMBRE' | translate}}" class="form-control" />
                </div>
                <div class="modal-footer">
                    <a href="#" ng-Click="createCategory()" data-dismiss="modal" class="btn btn-success">{{ 'ACEPTAR' | translate}}</a>
                    <a href="#" class="btn btn-danger" data-dismiss="modal">{{ 'CANCELAR' | translate}}</a>
                </div>
            </div>
        </div>
    </div>
    
    <!--*************************  Modal de crear subcategoria  ****************************************-->
    <div class="modal fade" id="modalCrearSubcategoria" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content modal-content-one">
                <div class="modal-header">
                    <a class="close" data-dismiss="modal">&times;</a>
                    <h3>{{ 'CREAR_SUBCATEGORIA' | translate}}</h3>
                </div>
                    <select ng-model="category"  ng-Click="getCategories()" draggable="true" ng-options="category.name as category.name for category in categories" class="form-control">
                                <option value="">{{ 'SELECCIONAR_CATEGORIA' | translate}}</option>
                    </select>
                <div class="modal-body">
                    <input ng-model="objectCategory.subcategory" type="text" placeholder="{{ 'NOMBRE' | translate}}" class="form-control" />
                </div>
                <div class="modal-footer">
                    <a href="#" ng-Click="createSubcategory()" data-dismiss="modal" class="btn btn-success">{{ 'ACEPTAR' | translate}}</a>
                    <a href="#" class="btn btn-danger" data-dismiss="modal"> {{ 'CANCELAR' | translate}}</a>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
