<div ng-controller="CrearComprobanteYOperacionCtrl">
    
    <h2><u>Cargar comprobante</u></h2>
    
    <div class="col-md-6 input">
        
        <div class="form-group">
           <table>
               <thead>
               </thead>
                <tbody>
                    <tr>
                        <td>
                            <select ng-model="selectedCategory"  ng-Click="getCategories()" draggable="true" ng-options="category.id as category.name for category in categories" class="form-control">
                                <option value="">Select a category</option>
                            </select>
                        </td>
                        <td>
                           &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp <a href="#/crearComprobante"  class="btn btn-success">Create a new category <span class="glyphicon glyphicon-ok"></span></a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        
    	<div class="form-group">
        	<div class="input-group">
                <span class="input-group-addon">></span>
        		<input ng-model="cuit" type="text" placeholder="Cuit" class="form-control" />
        	</div>
    	</div>

        <div class="form-group">
        	<div class="input-group">
                <span class="input-group-addon">></span>
        		<input ng-model="taxed" type="text" placeholder="Taxed" class="form-control" />
        	</div>
    	</div>
        
        <div class="form-group">
        	<div class="input-group">
                <span class="input-group-addon">></span>
        		<input ng-model="noTaxed" type="text" placeholder="No Taxed" class="form-control" />
        	</div>
    	</div>
        
        <div class="form-group">
        	<div class="input-group">
                <span class="input-group-addon">></span>
        		<input ng-model="IIBBPerception" type="text" placeholder="IIBB Perception" class="form-control" />
        	</div>
    	</div>
        
        <div class="form-group">
        	<div class="input-group">
                <span class="input-group-addon">></span>
        		<input ng-model="iva" type="text" placeholder="IVA" class="form-control" />
        	</div>
    	</div>
        
        <div class="form-group">
			<div class="input-group">
                <span class="input-group-addon">$</span>
				<input ng-model="amount" type="number" placeholder="Amount" class="form-control"/>
	    	</div>
    	</div>
        
        <div class="form-group">
            <a href="#" class="btn btn-lg btn-success">Aceptar</a>
            <a href="#/registroDeOperacionesYComprobantes" class="btn btn-lg btn-danger">Cancelar</a>
        </div>
    </div>
</div>