
  <!--<h1>'Allo, 'Allo!</h1>
  <p class="lead">
    <img src="images/yeoman.png" alt="I'm Yeoman"><br>
    Always a pleasure scaffolding your apps.
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="#">Splendid!<span class="glyphicon glyphicon-ok"></span></a></p>-->

    <h2>Cargar comprobante</h2>
    
    <div class="input-group jumbotron">

                    <div class='input-group date' id='datetimepicker1'>
                        <input type='text' class="form-control" />
                        <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>

            <script type="text/javascript">
                $(function () {
                    $('#datetimepicker1').datetimepicker();
                });
            </script>
        
        
        <div class="col-sm">
            <select ng-model="propiedad" contextmenu="sad" id="propiedad" class="form-control">
              <option value="titulo">T&iacute;tulo</option>
              <option value="genero">G&eacute;nero</option>
            </select>
        </div>
        
    	<div class="form-group">
        	<div class="controls">
        		<input ng-model="cuit" type="text" placeholder="Cuit" class="form-control" />
        	</div>
    	</div>
    	
    	<div class="form-group">
			<div class="controls">
				<input ng-model="amount" type="number" placeholder="Amount" class="form-control"/>
	    	</div>
    	</div>

        <div class="form-actions">
        	
            <a rel="stylesheet" href="#/about" >jajaja</a>
        </div>
    </div>
