<div ng-controller="ComprobanteCtrl">
   <h2><u>{{ 'CARGAR_COMPROBANTE' | translate}}</u></h2>

    <form id="form" name="form" class="col-md-6 input" navalidate>


        <div class="form-group">
           <div class="input-group">
                <span class="input-group-addon">></span>
                <input name="razonSocial" id="razonSocial" type="date"  min="Date.today" ng-model="objectVoucherJson.date" placeholder="Date" ng-class="form-control"></input>
            </div>
        </div>
        
        <div class="form-group">
            <div class="input-group">
                <select  name="billType" ng-model="objectVoucherJson.billType" draggable="true" ng-class="form-control">
                    <option value="">Seleccionar tipo de pago</option>
                    <option value="Bill A" ng-Click="updateVoucher()">Tipo A</option>
                    <option value="Bill B" ng-Click="updateVoucher()">Tipo B</option>
                    <option value="Bill C" ng-Click="updateVoucher()">Tipo C</option>
                    <option value="Bill D" ng-Click="updateVoucher()">Tipo D</option>
                    <option value="Bill X" ng-Click="updateVoucher()">Tipo X</option>
                </select>
            </div>
        </div>
        
        <div class="form-group">
           <div class="input-group">
                <span class="input-group-addon">></span>
                <input name="razonSocial" id="razonSocial" type="string" ng-model="objectVoucherJson.socialReason" placeholder="{{ 'RAZON_SOCIAL' | translate}}" ng-class="form-control" required></input>
            </div>
        </div>
        
        <div class="form-group">
           <div class="input-group">
                <span class="input-group-addon">></span>
                <input name="concepto" id="concept" type="string" ng-model="objectVoucherJson.concept" placeholder="{{ 'CONCEPTO' | translate}}" ng-class="form-control" required></input>
            </div>
        </div>

        <div class="form-group">
           <div class="input-group">
                <span class="input-group-addon">></span>
                <input name="cuit" id="cuit" type="string" ng-model="objectVoucherJson.cuit" placeholder="CUIT" ng-class="form-control" required></input>
            </div>
        </div>
        
        <div class="form-group" ng-show="visible">
           <div class="input-group">
                <span class="input-group-addon">></span>
                <input name="taxed" id="taxed" type="number" ng-class="form-control" ng-model="objectVoucherJson.taxed" placeholder="Taxed"/>
            </div>
        </div>
    
        <div class="form-group" ng-show="visible">
           <div class="input-group" >
                <span class="input-group-addon">></span>
                <input name="noTaxed" id="noTaxed" type="number" ng-class="form-control" ng-model="objectVoucherJson.noTaxed" placeholder="No Taxed"/>
            </div>
        </div>
    
        <div class="form-group" ng-show="visible">
           <div class="input-group">
                <span class="input-group-addon">></span>
                <input name="IIBB" id="IIBB" type="number" ng-class="form-control" ng-model="objectVoucherJson.IIBB" placeholder="IIBB"/>
            </div>
        </div>
    
        <div class="form-group" ng-show="visible">
           <div class="input-group">
                <span class="input-group-addon">%</span>
                <input name="IVA" id="IVA" type="number" ng-class="form-control" ng-model="objectVoucherJson.IVA" placeholder="IVA"/>
            </div>
        </div>
    
        <div class="form-group">
           <div class="input-group">
                <span class="input-group-addon">$</span>
                <input name="monto/amount" id="monto" name="monto" type="number" ng-class="form-control" ng-model="objectVoucherJson.amount" placeholder="{{ 'MONTO' | translate}}" required/>
            </div>
        </div>
        
        <div class="form-group">
            <a ng-disabled="form.$invalid" type="submit" ng-Click="createVoucher()" class="btn btn-primary">{{ 'ACEPTAR' | translate}}</a>
            <a href="#/verOperaciones" class="btn btn-danger">{{ 'CANCELAR' | translate}}</a>
        </div>
        
        
        
             </form>
<!--        </div>
        <div class="col-lg-6">
            <div class="alert alert-danger" ng-show="form.$invalid">
          <div ng-repeat="(errorType, components) in form.$error">
            <h4>{{errorType}}</h4>
            <ul>
              <li ng-repeat="(key,value) in components">El campo {{value.$name}} tiene un valor invalido: {{value.$viewValue || '[vacio]'}}</li>
            </ul>
          </div>
        </div>    
        </div>-->

</div>
