<div ng-controller="CrearComprobanteYOperacionCtrl">
   
    <h2><u>Cargar operacion</u></h2>
    <div class="col-md-6 input">

        
         
        <div class="form-group">
            <select ng-model="selectedCategory"  ng-Click="getCategories()" draggable="true" ng-options="category.id as category.name for category in categories" class="form-control">
                <option value="">Select a bill type</option>
            </select>
           
        </div>

        <div class="form-group">
            <div class="controls">
                <input ng-model="cuit" type="text" placeholder="Cuit" class="form-control" />
            </div>
        </div>

        <div class="form-group">
            <div class="controls">
                <input ng-model="amount" type="number" placeholder="Amount" class="form-control"/>
            </div>
        </div>
        
        <div class="form-group">
            <a href="#" class="btn btn-lg btn-success">Aceptar</a>
            <a href="#/registroDeOperacionesYComprobantes" class="btn btn-lg btn-danger">Cancelar</a>
        </div>
        
    </div>
</div>