<div ng-controller="CategoriaYSubcategoriaCtrl">
    
    <!--*************************  Modal de crear categoria  ****************************************-->
    <div class="modal fade" id="modalCrearCategoria" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content modal-content-one">
                <div class="modal-header">
                    <a class="close" data-dismiss="modal">&times;</a>
                    <h3>{{ 'CREAR_CATEGORIA' | translate}}</h3>
                </div>
                <div class="modal-body">
                    <input ng-model="objectCategory.name" type="text" placeholder="{{ 'NOMBRE' | translate}}" class="form-control" />
                </div>
                <div class="modal-footer">
                    <a ng-Click="createCategory()" data-dismiss="modal" class="btn btn-success">{{ 'ACEPTAR' | translate}}</a>
                    <a href="#" class="btn btn-danger" data-dismiss="modal">{{ 'CANCELAR' | translate}}</a>
                </div>
            </div>
        </div>
    </div>
</div>