<div ng-controller="HomePageCtrl">
        <ul class="nav nav-tabs">
           <li>
      		    <a href="#/registroDeOperacionesYComprobantes"><h3>Control de efectivo</h3></a>
    	   </li>
           <li>
      		    <a href="#/homePage"><h3>Analisis de gastos</h3></a>
    	   </li>
  		</ul>
        <!--<div class="tab-content">
            <div class="tab-pane fade in" id="tab{{$index + 1}}" ng-repeat="name in names" ng-class="{active: $index == 0}">                      		        <p>{{$index + 1}}</p>
            </div>
        </div>-->
    
</div>