<div ng-controller="CrearComprobanteYOperacionCtrl">
    <div class="container-fluid">
        <div class="row">
            <!-- Nav left -->
            <ul class="nav nav-tabs nav-stacked col-md-3">
                <li><a href="registroDeOperacionesYComprobantes/#tab1" data-toggle="tab"><h3>Comprobantes <span class="glyphicon glyphicon-expand"></span></h3></a></li>
                <li><a href="registroDeOperacionesYComprobantes/#tab2" data-toggle="tab"><h3>Operaciones <span class="glyphicon glyphicon-expand"></span></h3></a></li>
            </ul>

            <div class="tab-content">
                <div class="tab-pane fade" id="tab1">
                    <a href="#/crearComprobante" class="btn btn-lg btn-success">Crear <span class="glyphicon glyphicon-ok"></span></a>
                    <a href="#" class="btn btn-lg btn-warning">Modificar</a>
                    <a href="#" class="btn btn-lg btn-danger">Eliminar <span class="glyphicon glyphicon-remove"></a>
                </div>
            
                <div class="tab-pane fade" id="tab2">
                    <a href="#/crearOperacion" class="btn btn-lg btn-success">Crear <span class="glyphicon glyphicon-ok"></a>
                    <a href="#" class="btn btn-lg btn-warning">Modificar</a>
                    <a href="#" class="btn btn-lg btn-danger">Eliminar <span class="glyphicon glyphicon-remove"></a>
                </div>
            </div>
        </div>
    </div>

</div>    
