<div ng-controller="CuentasCtrl" class="">
    <div class="panel panel-default">
        <div class="panel-heading">{{'CUENTAS' | translate}}</div>
    <table class="table table-bordered table-hover table-condensed">
        <thead>
            <tr>
                <td><b>{{ 'CUENTA' | translate}} </b></td>
                <td><b>{{ 'MONTO' | translate}} </b></td>
               <!-- <td>Cuenta corriente</td>
               <td>Cuenta bancaria</td>-->
  		    </tr>
        </thead>
        
        <tbody>
            <tr>
                <td class="{{stateCash}}">{{cuentaNombre(cuentaCash.name)}}</td>
                <td class="{{stateCash}}">{{stateAmount(cuentaCash)}}</td>          
            </tr>
            <tr>
                <td class="{{stateCurrent}}">{{cuentaNombre(cuentaCurrent.name)}}</td>
                <td class="{{stateCurrent}}">{{stateAmount(cuentaCurrent)}}</td>          
            </tr>
            <tr>
                <td class="{{stateBank}}">{{cuentaNombre(cuentaBank.name)}}</td>
                <td class="{{stateBank}}">{{stateAmount(cuentaBank)}}</td>          
            </tr>
            <tr>
                <td class="info">Devengado</td>
                <td class="info">{{devengado()}}</td>
            </tr>
            <tr>
                <td class="info"><b>Total:</b></td>
                <td class="info"><b>{{totalCuentas()}}</b></td>
            </tr>
  		</tbody>
    </table>
        
       
    </div>
    <div>
     <a ng-Click="consolidate()" class="btn btn-primary">{{'CONSOLIDAR' | translate}}</a>
    </div>
    </br>
</div>