<div ng-controller="CategoriaYSubcategoriaCtrl" class="">
    <div class="panel panel-default">
    <div class="panel-heading">{{ 'CATEGORIAS' | translate}}</div>
    <table class="table table-bordered table-hover table-condensed">
        {{c}}
        <thead>
            <tr>
                <td><b>{{ 'CATEGORIA' | translate}} </b></td>
                <td><b>{{ 'SUBCATEGORIA' | translate}} </b></td>
                <td><b>{{ 'ACCION' | translate}} </b></td>
  		    </tr>
        </thead>
        
        <tbody>
            <tr ng-repeat="category in categories | offset: currentPage*itemsPerPage | limitTo: itemsPerPage">
                <td sortable="name">{{category.name}} </td> 
                <td>
                    {{verSubcategories(category.subcategories)}}
                </td>          
                <td>
                    <a ng-Click="dataModify(category)" data-target="#modalEditarCategoria" data-toggle="modal" class="btn"><span class="glyphicon glyphicon-pencil"> </a>
                    <a HTTP-EQUIV="REFRESH" ng-Click="delete(category)" class="btn"><span class="glyphicon glyphicon-remove"></a>
                    <a ng-click="loadSubcategories(category)" href="#/verSubcategorias/{{category}}" class="btn">{{ 'MODIFICAR_SUBCATEGORIAS' | translate}}</a>
                </td>
            </tr>
  		</tbody>
    </table>
    </div>
        
    <ul  class="pagination pagination-right">
        <li ng-class="prevPageDisabled()">
            <a href ng-click="prevPage()">« Prev</a>
        </li>
        <li ng-repeat="n in numberPages(true)">
            <a href ng-click="page(n)">{{n+1}}</a>
        </li>
        <li ng-class="nextPageDisabled()">
            <a href ng-click="nextPage(true)">Next »</a>
        </li>
    </ul>
    
    <div class="modal fade" id="modalEditarCategoria" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content modal-content-one">
                <div class="modal-header">
                    <a class="close" data-dismiss="modal">&times;</a>
                    <h3>{{ 'MODIFICAR_CATEGORIA' | translate}}</h3>
                </div>
                <div class="modal-body">
                    <input ng-model="categoryName" type="text" placeholder="{{ 'NOMBRE' | translate}}" class="form-control" />
                </div>
                <div class="modal-footer">
                    <a href="#" ng-Click="modificar()" data-dismiss="modal" class="btn btn-success">{{ 'ACEPTAR' | translate}}</a>
                    <a href="#" class="btn btn-danger" data-dismiss="modal">{{ 'CANCELAR' | translate}}</a>
                </div>
            </div>
        </div>
    </div>
</div>