<div ng-controller="ConsolidacionesCtrl" class="">
    <div class="panel panel-default">
    <div class="panel-heading"><h3><center><b><u>Consolidaciones</u></b></center></h3></div>
    <table class="table table-bordered table-hover table-condensed">
        <thead>
            <tr>
                <td><b>{{ 'DIA' | translate}} </b></td>
                <td><b>Disponible</b></td>
                <td><b>Devengado</b></td>
  		    </tr>
        </thead>
        
        <tbody>
            <tr ng-repeat="consolidation in consolidations | offset: currentPage*itemsPerPage | limitTo: itemsPerPage">
                <td>{{parse(consolidation.consolidationDate)}}</td>
                <td sortable="cuenta.balance">{{consolidation.available}}</td>          
                <td sortable="cuenta.balance">{{consolidation.accrued}}</td>          
            </tr>
  		</tbody>
    </table>
</div>        
        <ul  class="pagination pagination-right">
        <li ng-class="prevPageDisabled()">
            <a href ng-click="prevPage()">« {{ 'PREVIO' | translate}}</a>
        </li>
        <li ng-repeat="n in numberPages()">
            <a href ng-click="page(n)">{{n+1}}</a>
        </li>
        <li ng-class="nextPageDisabled()">
            <a href ng-click="nextPage()">{{ 'SIGUIENTE' | translate}} »</a>
        </li>
    </ul>
    </br>
</div>
