<div ng-controller="CuentasCtrl" class="">
    <div class="panel panel-default">
    <div class="panel-heading"><h3><center><b><u>Cuentas</u></b></center></h3></div>
    <table class="table table-bordered table-hover table-condensed">
        <thead>
            <tr>
                <td><b>{{ 'CUENTA' | translate}} </b></td>
                <td><b>{{ 'MONTO' | translate}} </b></td>
               <!-- <td>Cuenta corriente</td>
               <td>Cuenta bancaria</td>-->
  		    </tr>
        </thead>
        
        <tbody>
            <tr ng-repeat="cuenta in cuentas">
                <td>{{cuentaNombre(cuenta.name)}}</td>
                <td sortable="cuenta.balance">{{stateAmount(cuenta.balance)}}</td>          
            </tr>
            <tr>
                <td class="info">Devengado</td>
                <td class="info">{{devengado()}}</td>
            </tr>
            <tr>
                <td class="info"><b>Total:</b></td>
                <td class="info"><b>{{totalCuentas()}}</b></td>
            </tr>
  		</tbody>
    </table>
        
       
    </div>
     <a href="#" ng-Click="consolidate()" class="btn btn-primary">Consolidar</a>
    </br>
</div>