<div ng-controller="VerOperacionesCtrl" class="">
    <div class="panel panel-default">
    <div class="panel-heading">{{ 'OPERACIONES' | translate}}</div>
    <table class="table table-bordered table-hover table-condensed">
        <thead>
            <tr>
  			   <td>{{ 'MONTO' | translate}} </td>
               <td>{{ 'CATEGORIA' | translate}} </td>
               <td>{{ 'SUBCATEGORIA' | translate}} </td>
               <td>{{ 'CONCEPTO' | translate}} </td>
               <td>{{ 'CUENTA' | translate}} </td>
               <td>{{ 'TURNO' | translate}} </td>
               <td>{{ 'DIA_OPERACION' | translate}} </td>
               <td>{{ 'TIPO_OPERACION' | translate}} </td>
               <td>{{ 'ACCION' | translate}}  </td>
  		    </tr>
        </thead>
        
        <tbody>
            <tr ng-repeat="operation in operations | offset: currentPage*itemsPerPage | limitTo: itemsPerPage">
                <td sortable="amount">{{operation.amount}} </td> 
                <td>{{operation.category.name}} </td> 
                <td>{{operation.subcategory}} </td> 
                <td>{{operation.concept}} </td>
                <td>{{cuenta(operation.account)}} </td>
                <td>{{turno(operation.shift)}} </td> 
                <td>{{parse(operation.dateOperation)}} </td> 
                <td>{{tipoOperacion(operation.operationType)}} </td> 
                <td>
                    <div ng-controller="OperacionCtrl">
                    <a href="#/modificarOperacion/{{operation}}" class="btn"><span class="glyphicon glyphicon-pencil">  </a>
                    <a HTTP-EQUIV="REFRESH" ng-Click="delete(operation)" class="btn"><span class="glyphicon glyphicon-remove"></a></div>
                </td>
            </tr>
  		</tbody>
    </table>
    </div>
    
    <ul  class="pagination pagination-right">
        <li ng-class="prevPageDisabled()">
            <a href ng-click="prevPage()">« Prev</a>
        </li>
        <li ng-repeat="n in numberPages()">
            <a href ng-click="page(n)">{{n+1}}</a>
        </li>
        <li ng-class="nextPageDisabled()">
            <a href ng-click="nextPage()">Next »</a>
        </li>
    </ul>
    </br>

    <div class="row">
        <div class="col-md-10"></div>
        <div class="col-md-1">
            <a href="#/crearOperacion" type="submit" class="btn btn-primary"> Crear operacion</a>
        </div>
    </div>
    </br>
</div>