<div ng-controller="VerOperacionesCtrl" class="">
    <div class="panel panel-default">
    <div class="panel-heading">{{ 'OPERACIONES' | translate}}</div>
    <table class="table table-bordered table-hover table-condensed">
        <thead>
            <tr>
  			   <td><b>{{ 'MONTO' | translate}} </b></td>
               <td><b>{{ 'CATEGORIA' | translate}} </b></td>
               <td><b>{{ 'SUBCATEGORIA' | translate}} </b></td>
               <td><b>{{ 'CONCEPTO' | translate}} </b></td>
               <td><b>{{ 'CUENTA' | translate}} </b></td>
               <td><b>{{ 'TURNO' | translate}} </b></td>
               <td><b>{{ 'DIA_OPERACION' | translate}} </b></td>
               <td><b>{{ 'TIPO_OPERACION' | translate}} </b></td>
               <td><b>{{ 'ACCION' | translate}}  </b></td>
  		    </tr>
        </thead>
        
        <tbody>
            <tr ng-repeat="operation in operations | offset: currentPage*itemsPerPage | limitTo: itemsPerPage">
                <td sortable="amount">{{operation.amount}} </td> 
                <td>{{operation.category.name}} </td> 
                <td>{{operation.subcategory}} </td> 
                <td>{{operation.concept}} </td>
                <td>{{cuenta(operation.account)}} </td>
                <td>{{operation.shift}} </td> 
                <td>{{parse(operation.dateOperation)}} </td> 
                <td>{{tipoOperacion(operation.operationType)}} </td> 
                <td>
                    <div ng-controller="OperacionCtrl">
                    <a href="#/modificarOperacion/{{operation}}" class="btn"><span class="glyphicon glyphicon-pencil">  </a>
                    <a HTTP-EQUIV="REFRESH" ng-Click="delete(operation)" class="btn"><span class="glyphicon glyphicon-remove"></a></div>
                </td>
            </tr>
  		</tbody>
    </table>
    </div>
    
    <ul  class="pagination pagination-right">
        <li ng-class="prevPageDisabled()">
            <a href ng-click="prevPage()">« {{ 'PREVIO' | translate}}</a>
        </li>
        <li ng-repeat="n in numberPages()">
            <a href ng-click="page(n)">{{n+1}}</a>
        </li>
        <li ng-class="nextPageDisabled()">
            <a href ng-click="nextPage()">{{ 'SIGUIENTE' | translate}} »</a>
        </li>
    </ul>
    </br>

    <div class="row">
        <div class="col-md-10"></div>
        <div class="col-md-1">
            <a href="#/crearOperacion" type="submit" class="btn btn-primary"> {{ 'CREAR_OPERACION' | translate}}</a>
        </div>
    </div>
    
    <div>
        <span><u>{{ 'EXPORTAR_OPERACION' | translate}}: </u></span></br>
        <button class="btn btn-warning" type="button" ng-csv="getOperations()" filename="operaciones.csv" csv-header="['Id ', 'Monto ', 'Turno ', 'Categoría ', 'Tipo_de_operación ', 'Subcategoría ', 'Concepto ', 'Cuenta ']"> {{ 'EXPORTAR_CSV' | translate}} </button></br></br>
        
        <span><u>{{ 'IMPORTAR_OPERACION' | translate}}:</u></span>
        <input type="file" name="filename" id="filename"></input>

        <button ng-Click="createOperation()" class="btn btn-warning" type="button">{{ 'CREAR' | translate}}</button>

    </div>
    </br>

</br>
</div>