<div ng-controller="ReporteCtrl">
    
    <input type="checkbox" ng-model="costos_por_categoria_ingreso">{{ 'COSTOS_CATEGORIA_INGRESOS' | translate}}</input></br>
    <input type="checkbox" ng-model="costos_por_categoria_egreso">{{ 'COSTOS_CATEGORIA_EGRESOS' | translate}}</input></br>
    <input type="checkbox" ng-model="costos_por_subcategoria">{{ 'COSTOS_SUBCATEGORIA' | translate}}</input></br>
    <input type="checkbox" ng-model="distribucion_cuentas">{{ 'DISTRIBUCION_CUENTAS' | translate}}</input></br>
    <input type="checkbox" ng-model="ingresos_segun_turno">{{ 'INGRESOS_POR_TURNO' | translate}}</input>

        <div  ng-show="costos_por_categoria_ingreso">
            <div chart></div>
        </div>
        
        <div ng-show="costos_por_categoria_egreso">
            <div chart2></div>
        </div>

        <div ng-show="costos_por_subcategoria">
            <div chart3></div>
            <select name="categoria" ng-Click="getReport()" ng-model="category" draggable="true" ng-options="category.name as category.name for category in categories" ng-class="form-control">
                <option value="">Seleccione la categoría</option>
            </select>
        </div>

        <div ng-show="distribucion_cuentas">
            <div chart4></div>
        </div>
        <div ng-show="ingresos_segun_turno">
            <div chart5></div>
        </div>
</div>